@import "_resetcss"; 
@import "_index"; 
@import "_qa"; 


*, *:after, *:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;  
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
body{
  font-family: 'Noto Sans TC','Roboto', sans-serif;
}
.header a, .footer a{
	color: white;
}

/*header*/
.header{
	background: #AA0601;
	padding-left: 88px;
	padding-right: 88px;
	padding-top: 30px;
	padding-bottom: 30px;
}
.header_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_menu{
	display: flex;
}
.header_menu a{
	font-size: 20px;
	line-height: 1.5;
}
.header_menu li{
	margin-left: 64px;
}
.logo a{
	background: url(https://hexschool.github.io/webLayoutTraining1st/week3/logo.png) no-repeat;
	display: block;
	width: 80px;
	height: 49px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}

/*header-375*/
@media(max-width: 375px){
	.header{
		padding: 0;
	}
	.header_content{
		flex-direction: column;
	}
	.logo a{
		width: 48px;
		height: 29px;
		background-size: contain;
	}
	.logo{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.header_menu li{
		border: 1px solid white;
		margin-left: 0;
		width: 50%;
		text-align: center;
	}
	.header_menu{
		flex-wrap: wrap;
		width: 100%;
	}
}





/*footer*/
.footer{
	background: #AA0601;
	padding-top: 36px;
	padding-bottom: 28px;
}
.footer_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer_menu{
	display: flex;
}
.footer_menu a{
	font-size: 16px;
	line-height: 1.5;
}
.footer_menu li{
	margin-right: 48px;
}
.footer_icon li{
	display: inline-block;
	margin-left: 32px;
}
.footer_icon img{
	width: 48px;
	height: 48px;
}
.contact {
	margin-bottom: 24px;
}
.contact li{
	color: white;
	font-size: 36px;
	line-height: 1.5;
}
.contact img{
	display: inline-block;
	width: 38px;
	height: 38px;
	margin-right: 20px;
	vertical-align: middle;
}
.copyright{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 24px;
	border-top: 1px solid white;
}
.copyright_text p{
	display: inline;
	color: white;
	font-size: 16px;
	line-height: 1.5;
}
.copyright_text img{
	display: inline-block;
	width: 80px;
	height: 49px;
	margin-right: 38px;
	vertical-align: middle;
}
.privacy ul{
	display: flex;
}
.privacy li{
	margin-left: 62px;
}
.privacy li a{
	font-size: 14px;
	line-height: 1.5;
}

/*footer-375*/
@media(max-width: 375px){
	.footer{
		padding-top: 24px;
		padding-bottom: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer_menu{
		display: none;
	}
	.footer_nav{
		position: relative;
	}
	.footer_icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.footer_icon img{
		width: 24px;
		height: 24px;
	}
	.footer_icon li{
		margin-left: 24px;
	}
	.contact img{
		width: 14px;
		height: 14px;
		margin-right: 7px;
	}
	.contact li{
		font-size: 16px;
	}
	.copyright{
		flex-wrap: wrap;
		position: relative;
	}
	.copyright_text{
		margin-bottom: 7px;
	}
	.copyright_text p{
		font-size: 14px;
		line-height: 1.5;
	}
	.privacy ul{
		flex-direction: column;
	}
	.privacy li{
		margin: 0;
		margin-bottom: 8px;
	}
	.copyright_text img{
		width: 46px;
		height: 28px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
}



